
.rsc-header {
    height: 0;
    width: 0;
    border: 0;
}

.rsc-container {
    background: #EEF2F6;
    border-radius: 25px;
    border: solid #EEF2F6 20px;
}

.rsc-content {
    background:white;
    height: 83%;
    width: 95%;
    border-radius: 25px;
    border: solid 10px #EEF2F6;
    margin: auto;
    overflow-y: scroll;

}
.rsc-content::-webkit-scrollbar {
    width: 10px;
}


.rsc-content::-webkit-scrollbar-thumb {
    background: #7ED4FF;
    border-radius: 10px;
}

.rsc-content::-webkit-scrollbar-thumb:hover {
    background: #b5b7b9;
}

.rsc-footer {

}

.rsc-input {
    background: white;
    border-radius: 25px;
    border: solid 10px #EEF2F6;

}

.rsc-submit-button {
    padding: 23px;
    fill: #7ED4FF;
}


