

input[type="file"] {
    background-color: #75C5ED;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
  }

.upload-button{
    background-color: #75C5ED;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    transition-duration: 0.4s;
    cursor: pointer;
    z-index: 1;
}

.upload-wrap{
    position: absolute;
    bottom: 7%;
    right: 27%;
    max-width:  100%;
    z-index: 1;
}




