div.job.title{
    background-color: #75C5ED;
    height: 150px;
    border-radius: 12px;
    
}

h1{
    font-size: 13px;
    color: white;
    border-bottom: 5px white;

    border-width: 70%;
    border:#8dcdec solid 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #8dcdec;
}

ul{
    font-size: 10px;
}

.button::before {
    background-color: #75C5ED;
    z-index: 0;
}

.react-multiple-carousel__arrow {
    background-color: #75C5ED;
    z-index: 0;
    
}

.react-multiple-carousel__arrow:hover {
    background-color: #75C5ED;
   
}

.react-multiple-carousel__arrow--right {
    background-color: #75C5ED;
    height: 5px;
    right: 0;
}


.react-multiple-carousel__arrow--left {
    background-color: #75C5ED;
    left: 0;

}

.nobull {
    list-style-type: none;
}

ul.nobull{
    padding: 0;
    width: 62%;
    text-align: left;
    margin-left: 44px;
    background-color: #8dcdec;

}

li.title{
    font-size: 13px;
    border: solid #8dcdec 3px;
    background-color: #8dcdec;
    color: white;
    font-weight: bold;
}

li.info{
    color: #514f4f;
    border: solid #efefef 1px;
    background-color: #efefef;
}

